/* Aplicación de estilos (styles.css):
Aplica una tipografía legible y colores de fondo/texto que diferencien las secciones.
Usa display, margin y padding para organizar los elementos con el modelo de caja.
Agrega un hover a los enlaces para que cambien de color al pasar el mouse.
Opcional: incluye una sombra en las imágenes y un borde redondeado.
El límite es tu imaginación, si deseas agregar una nueva sección, un nuevo estilo, no hay ningún problema. */


* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #747171;
    color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #747171;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #fff;
    margin: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

section {
    font-family: Arial, sans-serif;
    font-size: 16px;
}